@page "/"
@using OpusClassical.Models
@using OpusClassical.Repositories
@inject PeriodRepository PeriodRepo
@inject ComposerRepository ComposerRepo

<div>
    <h1>Composers</h1>
    @foreach (var period in ComposersByPeriod)
    {
        <PeriodHeader Period="period.Period"/>
        <hr/>
        <div class="mb-4 flex flex-wrap">
            @foreach (var composer in period.Composers)
            {
                <ComposerCard Composer="@composer"/>
            }
        </div>
    }
</div>

@code {

    private record ComposersGroupedByPeriod(Period Period, IEnumerable<Composer> Composers);

    private IEnumerable<Period> _periods = [];
    private IEnumerable<Composer> _composers = [];

    private IEnumerable<ComposersGroupedByPeriod> ComposersByPeriod => _periods.Select(period =>
    {
        return new ComposersGroupedByPeriod(
            period,
            _composers.Where(c => c.PeriodId == period.Id).OrderBy(c => c.LastName)
        );
    });

    private async Task FetchData()
    {
        _periods = await PeriodRepo.GetAllPeriods();
        _composers = await ComposerRepo.GetAllComposers();
    }

    protected override async Task OnInitializedAsync()
    {
        await FetchData();
    }

}