@using OpusClassical.Models
<div class="mr-2 mt-2">
    <a href="@FullLink()">
        <img
            src="/static/@Link?.Icon"
            height="24"
            width="24"
            alt="@Link?.Streamer"/>
    </a>
</div>

@code {
    [Parameter] public Link? Link { get; init; }

    string FullLink()
    {
        return Link?.LinkPrefix + Link?.RecordingLink;
    }

}