@using OpusClassical.Models
<div class="mr-2 mt-2">
    <a href="@FullLink">
        <img
            src="/images/@Link.Icon"
            height="24"
            width="24"
            alt="@Link.Streamer"/>
    </a>
</div>

@code {
    [Parameter] public required Link Link { get; init; }
    string FullLink => $"{Link.LinkPrefix}{Link.RecordingLink}";
}