@using OpusClassical.Models
<div class="mb-1.5 leading-5">
    <span>
        @if (!string.IsNullOrEmpty(Performer.FirstName))
        {
            @Performer.FirstName<span>&nbsp;</span>
        }
        @Performer.LastName&nbsp;
    </span>
    <span class="text-xs font-light">@Performer.Instrument</span>
</div>

@code {
    [Parameter] public required Performer Performer { get; init; }
}